<div ng-app="" >
	<button ng-click="count = count + 1">Click me!</button>
	<p>{{ count  }}</p>
</div>

<div ng-app="" ng-controller="personController">
	<button ng-click="toggle()">Toggle</button>
	<p ng-hide="myVar">
	First Name: <input type="text" ng-model="firstName"><br>
	Last Name: <input type="text" ng-model="lastName"><br>
	<br>
	Full Name: {{firstName + " " + lastName}}
	</p>

</div>

<script>
function personController($scope) {
	$scope.firstName = "John",
		$scope.lastName = "Doe"
			$scope.myVar = false;
	$scope.toggle = function() {
		$scope.myVar = !$scope.myVar;
	};
}
</script>
